<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400006957180-6cdkdfdcm2vjdo7o781j5lc3276pe02m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400006957180-6cdkdfdcm2vjdo7o781j5lc3276pe02m</string>
	<key>API_KEY</key>
	<string>AIzaSyBJDXx9BtG3oUJOxiV0HXMjCTwWPxbSNqs</string>
	<key>GCM_SENDER_ID</key>
	<string>400006957180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jeehge.com.study.CoreNFCProject</string>
	<key>PROJECT_ID</key>
	<string>corenfcproject</string>
	<key>STORAGE_BUCKET</key>
	<string>corenfcproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400006957180:ios:88f7883399d6a5e45861f9</string>
	<key>DATABASE_URL</key>
	<string>https://corenfcproject.firebaseio.com</string>
</dict>
</plist>